.loginContainer {
    margin-right: auto;
    margin-left: auto;
    display: table;
    height: 100%;
    width: 100%;
}

.loginContent {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 500px;
}

.btn-gs {
    float: right;
}

.h3 {
    display: inline-block;
}

.flex {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flexName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

}

#forgot-password:hover {
    background: none;
}

#forgot-password {
    margin-right: 3px;
}

.flexButton {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-right: 10px; 
    width: 130px;
    height: 68px;
}