.loginContainer {
    margin-right: auto;
    margin-left: auto;
    display: table;
    height: 100%;
    width: 100%;
}

.loginContent {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 500px;
}

.btn-gs {
    float: right;
}