.rsenhaContainer {
    margin-right: auto;
    margin-left: auto;
    display: table;
    height: 100%;
    width: 800px;
}

.rsenhaContent {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}