.size {
    width: 500px;
}

.title {
    font-size: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    display: table;
    height: 100%;
    width: 700px;
}

.content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#btn-ln:hover {
    border: 2px solid white;
}